html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  color: #fff;
  vertical-align: middle;
  padding: 20px 0;
  align-items: center;
  text-align: right; /* Align header content to the right */
}
header .container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 0 20px;
}

#cityInput {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  padding: 5px 15px;
  margin-right: 10px;
  background: none;
  color: #fff;
}

#searchButton {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

main {
  flex-grow: 1;
  padding: 40px 0;
  text-align: center;
}
.content {
  width: 30%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fdfdfd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  font-size: large;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
img {
  width: 100px;
  height: 100px;
  color: #fff;
}
#temperature {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}
#cityName {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
